name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
    
    - name: Setup GCloud
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        service_account_key: ${{secrets.GCP_SA_KEY}}
        project_id: ${{secrets.GCP_PROJECT}}

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Add docker login credentials for GCR
      run: gcloud auth configure-docker

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Echo Sha
      run: echo ${GITHUB_SHA::5}

    - name: Test
      run: go test ./pkg/**/*

    - name: Build
      run: |
        make all
    
        
    - uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: ./bin/

